main {
    display: flex;
    width: 100vw;
}

.background {
    background-image: url(/assets/index_background_opt2.jpg);
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Don’t repeat the image */
    margin: 20px;                 /* Small margin from the sides */
    padding: 20px;                /* Space inside the box */
    border-radius: 10px;          /* Optional: soft edges */
    /* color: #fff;                  Text color on image, adjust as needed */
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

#home-img {
    width: 40%;
    height: 40%;
    align-self: center;
}