main {
    display: flex;
    width: 100vw;
    background-image: url("https://iili.io/3gHzRmx.jpg");
    background-position: center;  /* Center the image */

}

.background {
    /* background-image: url(/assets/index_background_opt2.jpg); */
    /* background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2148999934.jpg"); */
    /* background-position: center;  Center the image */
    /* background-repeat: no-repeat;  */
    margin: 20px;                 /* Small margin from the sides */
    padding: 20px;                /* Space inside the box */
    border-radius: 10px;          /* Optional: soft edges */
}

#home-img {
    width: 40%;
    height: 40%;
    align-self: center;
}