
/* ========== Review Cards ========== */
.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;
}

.review {
    width: 25%;
    padding: 2rem 1.5rem;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    background-color: #f9fdfc;
    border-left: 6px solid #CEE8E0;
    ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.review:hover {
    transform: scale(1.02);
    box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;;
    background-image: url('https://cdn.pixabay.com/photo/2020/07/09/14/10/candy-5387481_1280.png');
    background-position: bottom;
    background-size: 8rem;
    background-repeat: no-repeat;
}

.review-content {
    padding: 0.5rem;
    text-align: center;
    color: var(--chocolate);
}

.review-content h3 {
    font-family: 'Chicle', cursive;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
    color: var(--blueberry);
}

.review-content p {
    font-size: 0.95rem;
}

.reviews-img {
    height: 8em;
    width: 80%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.3);
}


