@import url('https://drive.google.com/file/d/14hnSK_ipCKHsc_9Mxkmb1efxyjjvNPfh/view?usp=sharing');

/* START TEST: Add grid to keep footer at the end */
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 3fr 10%;
}
header {
    grid-row: 1;
}
main {
    grid-row: 2;
}
footer {
    grid-row: 3;
}
/* END TEST */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    color: #333;
}

header, nav, footer {
    background-color: #6ececc;
    padding: 15px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.site-title {
    font-family: 'Ballet', sans-serif;
    font-size: 2.5rem;
    color: #78586c;
    letter-spacing: 1px;
}

/* .ballet-<uniquifier> {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;      
}

.gallery-img {
    width: 200px;
    margin: 10px;
    border-radius: 8px;
}

.fact, .review {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-left: 5px solid #ffb6b6;
}