@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Henny+Penny&family=Italiana&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mystery+Quest&family=Pacifico&family=Ribeye&family=Ribeye+Marrow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Xanh+Mono:ital@0;1&display=swap');

body {
    font-family: 'Italiana', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    color: #333;
}

header, nav, footer {
    background-color: #6ececc;
    padding: 15px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-cake {
    font-family: 'Abril Fatface', cursive;
    color: #ac643b;
    letter-spacing: 1px;
}

.site-verse {
    font-family: 'Abril Fatface', sans-serif;
    color: #8e5230;
    font-weight: 700;
    /* margin-left: 4px; optional: slight spacing between words */
}

/* .site-title {
    font-family: 'Pacifico', sans-serif;
    font-size: 2.5rem;
    color: #ac643b;
    letter-spacing: 1px;
} */

.nav-links {
    margin-left: auto;
    list-style: none;
    padding-right: 2 rem; /* Optional fine-tuning */
    /* padding: 0; */
    margin: 0;
    display: flex;
}

.nav-links li {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ac643b;
    font-weight: bold;
}

main {
    padding: 20px;      
}

.gallery-img {
    width: 200px;
    margin: 10px;
    border-radius: 8px;
}

.fact, .review {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-left: 5px solid #ffb6b6;
}